<!DOCTYPE HTML>
<html>
<head>
<title>Carrinho de compras</title>
<link rel="stylesheet" href={{url_for('static', filename='css/cart.css')}} />
<link rel="stylesheet" href={{url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="/">
	<img id="logo" src= {{ url_for('static', filename='images/stoka_logo.jpeg') }} />
	</a>
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>

	{% if not loggedIn %}
		<div id="signInButton">
			<a class="link" href="/loginForm">Entrar</a>
		</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Seja muito bem-vindo, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Meus pedidos</a>
			<a href="/account/profile">Meu perfil</a>
			<hr>
			<a href="/logout">Sair</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
		<img src={{url_for('static', filename='images/carrinho2.png')}} id="cartIcon" />
		Carrinho {{noOfItems}}
		</a>
	</div>
</div>
<div id="cartItems">
	<h2>Seus pedidos</h2>
	<div id="tableItems">
		{% for row in products %}
		<div>
			<hr id="seperator">
			<div id="itemImage">
				<img src={{url_for('static', filename='uploads/'+row[3])}} id="image"/>
			</div>
			<div id="itemName">
				<span id="itemNameTag">{{row[1]}}</span><br>
				In stock<br>
				<a href="/removeFromCart?productId={{row[0]}}">Cancelar</a>
			</div>
			<div id="itemPrice">
				${{row[2]}}
			</div>
		</div>
		{% endfor %}
		<hr id="seperator">
		<div id="total">
			<span id="subtotal">Subtotal</span> : R${{totalPrice}}
		</div>
                <div>
                        <h3>Para pagamento, faça um PIX para 11971332716. Esse é o meu celular.</h3>
                        <h3>Depois mande uma mensagem via Whasapp informando o pagamento.</h3>
                        <h3>Imediatamente vamos despachar o seu pedido.</h3>
         	</div>
        </div>
</div>
<a href="/checkout">Sair</a>
</body>
</html>

