<!DOCTYPE HTML>
<html>
<head>
<title>Stokamusik</title>

<!-- mais uma tentativa-->



<!-- mais uma tentativa-->


<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />

</head>

<body>

	<div style="background-image: url('images/stoka_fundo.jpeg');"></div>
	


	<div id="title">
	<a href="/">
		<img id="logo" src= {{ url_for('static', filename='images/stoka_logo.jpeg') }} />
	</a>
	<div id=slogan><h1>A sua casa de Música</h1></div>
	<!--<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Pesquisar">
	</form> -->

	{% if not loggedIn %}
	<div id="signInButton">
		<a class="link" href="/loginForm">Entrar</a>
	</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Seja muito bem-vindo, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Seus pedidos</a>
			<a href="/account/profile">Seu perfil</a>
			<hr>
			<a href="/logout">Sair</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
			<img src={{url_for('static', filename='images/carrinho2.png')}} id="cartIcon" />
			Carrinho {{noOfItems}}
		</a>
	</div>
</div>

<!-- até aqui é a parte de cima -->

<div class="display">

<!-- tentando colocar a ligação para os vídeos -->

	{% if loggedIn %}
	<div class="videoclass">
		<div id=slogan><h2>Video Aulas</h2></div>
			<a class="link" href="/classes">
				<img src={{url_for('static', filename='images/maestro.png')}} id="maestro" />Video Aulas
			</a>		
	</div>
	{% endif %}


<!-- tentando colocar a ligação para os vídeos -->



	<div class="displayCategory">
		<div id=slogan><h2>Compre por categoria</h2></div>
		<ul>
			{% for row in categoryData %}
			<li><a href="/displayCategory?categoryId={{row[0]}}">{{row[1]}}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<div id=slogan><h2>Itens em destaque</h2></div>
		{% for data in itemData %}
		<table>
			<tr id="productName">
				{% for row in data %}
				<td>
					{{row[1]}}
				</td>
				{% endfor %}
			</tr>
			<tr id="productImage">
				{% for row in data %}
				<td>
					<a href="/productDescription?productId={{row[0]}}">
						<img src={{ url_for('static', filename='uploads/' + row[4]) }} id="itemImage" />
					</a>
				</td>
				{% endfor %}
			</tr>
			<tr id="productPrice">
				{% for row in data %}
				<td>
					R${{row[2]}}
				</td>
				{% endfor %}
			</tr>
		</table>
		{% endfor %}
	</div>
</div>
</body>
</html>

