<html>
<head>
<title>Registration</title>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
</script>
</head>
<body>
<form action="/register" method="POST" onsubmit="return validate()">
    <p>Email: <input type="email" name="email"></p>

    <P>Senha: <input type="password" name="password" id="password" required></p>

    <p>Confirmar Senha: <input type="password" name="cpassword" id="cpassword"></p>

    <p>Nome: <input type="text" name="firstName"></p>
    <p>Sobrenome: <input type="text" name="lastName"></p>
    <p>Endereço linha 1: <input type="text" name="address1"></p>
    <p>Endereço linha 2 (se necessário): <input type="text" name="address2"></p>
    <p>CEP: <input type="text" name="zipcode"></p>
    <p>Cidade: <input type="text" name="city"></p>
    <p>Estado: <input type="text" name="state"></p>
    <p>País: <input type="text" name="country"></p>
    <p>Telefone: <input type="text" name="phone"></p>

    <p><input type="submit" value="Register"></p>

    <a href="/loginForm">Entrar</a>
</form>
</body>
</html>



